*{
		margin: 0;
		padding: 0;
		font-size:20px;
}
.pc_show{
	display: block;
}
.pc_hide{
	display: none;
}
.top{
	width: 100%;
	height: 63px;
	border-bottom: 2px solid #554A93;
	margin-bottom: 0;
}
.top .gWidth{
	width: 1210px;
}
.top .gWidth img{
	width: 1920px;
	float: left;
	margin-top: 5px;
	width: 72px;
	height: 50px;
}
.top .gWidth .wd{
	font-size: 26px;
	float: left;
	line-height: 63px;;
	margin-left: 16px;
}
.top .gWidth ul{
	float: right;
	width: 600px;
}
.top .gWidth ul li{
	float: left;
	width: 150px;
	line-height: 63px;
	height: 60px;
	font-size: 18px;
	text-align: center;
}
.top .gWidth ul li:active{
	background-color: #151EC8;
	color: #fff;
}
.banner{
	width: 1920px;
	height: 240px;
	position: relative;
	overflow: hidden;
}
.banner	ul{
	width: 500%;
	height: 400px;
	left: 0;
	top: 0;
	position: absolute;
	transition: 0.5s linear;
}
.banner ul li{
	float: left;
	width: 1920px;
	height: 400px;
	list-style:none;
}
.banner ul img{
	width: 1920px;
	height: 400px;
}
.banner p{
	position: absolute;
	bottom: 20px;
	right: 0px;
}
.banner p em{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FFF;
	display: inline-block;
	margin:0 5px;
}
.banner p .active{
	background: red;
}
.banner a{
	padding: 15px;
	border-color:rgba(0,0,0,.5);
	color:#FFF;
	text-decoration: none;
	font-size:0.5rem;
}
.banner .prev{
	background: rgba(0,0,0,.2);
	position: absolute;
	left: 0;
	top: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.banner .next{
	background: rgba(0,0,0,.2);
	position: absolute;
	right: 0;
	top: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.banner .next img{
	margin-left: 5px;
}
.current{
	height: 45px;
}
.current .gWidth{
	width: 1210px;
}
.current p{
	line-height: 45px;
	font-size: 14px;
	color: #888888;
	border-bottom: 1px solid #ddd;
}
.gWidth{
	width: 1210px;
}
.recruit{
}
.recruit li{
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
	padding-left: 15px;
	float: left;
}
.recruit ol{
	float: left;
}
.recruit li .p1{
	padding-top: 20px;
	font-size: 20px;
	color: #151EC8;
	font-weight: bold;
}
.recruit li .p2{
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 16px;
}
.recruit li .p2 span{
	margin-right: 30px;
	font-size: 16px;
}
.recruit li img{
	float: right;
	padding-top: 40px;
	padding-right: 25px;
}
.recruit li .ask{
	height: 615px;
	background-color: #F5F5F5;
	margin-top: 102px;
	display: none;
}
.recruit li .ask .duty{
	margin-left: 25px;
	font-size: 16px;
	padding-top: 20px;
}
.recruit li .ask .duty p{
	line-height: 40px;
	font-size: 16px;
	margin-right: 25px;
}
.recruit li .ask .serv{
	margin-left: 25px;
	font-size: 16px;
	padding-top: 60px;
}
.recruit li .ask .serv p{
	line-height: 40px;
	font-size: 16px;
	margin-right: 25px;
}
.footer{
	height: 55px;
	background-color: #F0F0F0;
	margin-top: 25px;
}
.footer .gWidth .p1{
	margin-left: 185px;
	line-height: 55px;
	border-top: 2px solid #151EC8;
	width: 603px;
	font-size: 16px;
	color: #3F3F3F;
	float: left;
	padding-top: 0;
}	
.footer .gWidth .p2{
	line-height: 55px;
	border-top: 2px solid #ECB215;
	width: 603px;
	font-size: 16px;
	float: left;
	color: #666666;
	margin-top: 0;
}